<div class="panel panel-default hidden" id="spinblock-element-database-template">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="title-collapse-href" data-toggle="collapse" data-parent="#spinblock-element-panel" href="#blocklist-collapse-0">
                Database block</a>
        </h4>
    </div>


    <div id="blocklist-collapse-0" class="panel-collapse collapse">
        <div class="panel-body">
                База данных, всякий такой стафф
        </div>
    </div>
</div>