{# Block template #}
<div class="panel panel-default hidden" id="spinblock-element-spinsentence-template">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="title-collapse-href" data-toggle="collapse" data-parent="#spinblock-element-panel" href="#blocklist-collapse-bidx">bname</a>

            <a href="#" class="title-delete-href"
               data-record-id="acd_0_t"
               data-record-title="{key}"
               data-href="#"
               data-toggle="modal" data-target="#dialog-spinblock-confirm-delete">
                <i class="action-icon-delete glyphicon glyphicon-trash"></i>
            </a>
        </h4>
    </div>

    <div id="blocklist-collapse-bidx" class="panel-collapse collapse">
        <div class="panel-body form-group" >

            <form class="form-inline">
                <label for="spin-block-name-sq"> Название блока </label>

                <div class="input-group">
                    <input id="spin-block-name-sq" type="text" class="form-control block-name" style="min-width: 300px" value="">
                </div>
                <input type="button" class="button-block-generate btn btn-info" value="Test"/>
                <input type="button" class="button-block-save btn btn-primary" value="Save"/>
            </form>

            <div class="element-content-row">
                <label for="value_t">Текст</label>
                <textarea class="form-control input-sentence-value" name="sentence-value" rows="7" id="comment" style="resize: none; margin-bottom: 10px"></textarea>

                <input type="button" class="button-sentence-generate btn btn-info"  value="Test"/>
                <input type="button" class="button-sentence-update btn btn-default" value="Add"/>

                <div>
                    <label >Предложения</label>
                    <ul class="list-group">
                        <li class="list-group-item active list-group-item-add">
                            <a href="#" class="action-spinblock-add-sentence" >
                                Новое предложение
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{# Sentence template #}
<li class="list-group-item hidden" id="spinblock-element-list-item-template">
    <a href="#" class="action-spinblock-update-sentence">
        <span class="pull-right action-icon-span">
            <i class="action-spinblock-sentence-delete glyphicon glyphicon-trash"></i>
        </span>
    </a>
</li>