<div class="panel-body">
    <div class="row">
        <label for="name">Тип блока</label>
        <select class="form-control" id="newblocktype">
            <option value="spinsentence">Спиннер предложения</option>
            <option value="static">Статический текст</option>
            <option value="for">Цикл (for)</option>
            <option value="if">Блок с условием(if)</option>
            <option value="switch">Блок выбора из значений (switch)</option>
        </select>
    </div>
</div>