<div class="panel-body">

        <label for="spin_block_name_sq">Название блока</label>
        <input id="spin_block_name_sq" type="text" class="form-control"  value="Intro">

        <label for="spin_block_value_sq">Контент</label>
        <textarea id="spin_block_value_sq" rows="6" class="block-value form-control noresize"></textarea>

        <div class="button-row">
            <input type="button" class="block-generate btn btn-info" value="Generate"/>
            <input type="button" class="block-update btn btn-primary" value="Update"/>
        </div>

</div>