<div class="panel panel-default hidden" id="spinblock-element-statictext-template">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="title-collapse-href" data-toggle="collapse" data-parent="#spinblock-element-panel" href="#blocklist-collapse-bidx">bname</a>

            <a href="#" class="title-delete-href"
               data-record-id="acd_0_t"
               data-record-title="{key}"
               data-href="#"
               data-toggle="modal" data-target="#dialog-spinblock-confirm-delete">
                    <i class="action-icon-delete glyphicon glyphicon-trash"></i>
            </a>
        </h4>
    </div>

    <div id="blocklist-collapse-bidx" class="panel-collapse collapse">
        <div class="panel-body" >
            <form class="form-inline">
                <label for="spin-block-name-sq"> Название блока </label>

                <div class="input-group">
                    <input id="spin-block-name-sq" type="text" class="form-control block-name" style="min-width: 300px" value="">
                </div>
                <input type="button" class="button-block-generate btn btn-info"  value="Test"/>
                <input type="button" class="button-block-save btn btn-primary" value="Save"/>
            </form>
            <div class="element-content-row">
                <label for="spin_block_value_sq">Контент</label>
            </div>
            <div class="element-content-row">
                <textarea id="spin_block_value_sq" rows="6" class="textarea-block-value form-control noresize"></textarea>
            </div>
        </div>
    </div>
</div>