<div class="panel panel-default" id="spinblock-element-0">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="title-collapse-href" data-toggle="collapse" data-parent="#spinblock-element-panel" href="#blocklist-collapse-{{ block.index }}">
                {{ block.name }}</a>
        </h4>
    </div>


    <div id="blocklist-collapse-{{ block.index }}" class="panel-collapse collapse">
        <div class="panel-body">
                База данных, всякий такой стафф
        </div>
    </div>
</div>