<div class="panel-body form-group" id="spin_block_t">

<div class="row">

    <label for="spin_block_t">Название блока</label>
    <input id="spin_block_t" type="text" class="form-control"  value="Title - Prozac thread depression">


    <label for="value_t">Текст</label>
    <textarea class="form-control" name="value_t" rows="5" id="comment" style="resize: none;"></textarea>


    <label for="value_t">Предложения</label>
    <ul class="list-group" id="spin_block_list_sq">
        <li class="list-group-item active">
            <a href="#" >
                Новое предложение
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="list-group-item">$[спинери|меня|полностью]...</a>
            <span>
            <a href="#" class="title-delete-href"
               data-record-id="acd_0_t"
               data-record-title="{key}"
               data-href="#"
               data-toggle="modal" data-target="#dialog-dict-confirm-delete"><i class="action-icon-delete glyphicon glyphicon-trash"></i></a>
            </span>
        </li>

        <li class="list-group-item">
            <a href="#" class="list-group-item">$[спинери|меня|полностью]...</a>
        </li>

        <li class="list-group-item">
            <a href="#" class="list-group-item">$[спинери|меня|полностью]...</a>
        </li>

        <li class="list-group-item">
            <a href="#" class="list-group-item">$[спинери|меня|полностью]...</a>
        </li>

    </ul>


</div>




</div>