{% extends 'base.main.html.twig' %}

{% set active_menu = 'editor' %}

{% block content %}
    <div class="container-fluid">
        <div class="row" >
            <!-- Main Cell -->
             <div class="col-md-9">
                 <div class="container-fluid">
                     <div class="row">
                         {% include 'editor/module.rawtext.twig' %}
                     </div>
                     <div class="row" style="margin-top: 10px">
                         {% include 'editor/module.input.twig' %}
                     </div>
                     <div class="row" style="margin-top: 10px">
                         {% include 'editor/module.output.twig' %}
                     </div>
                 </div>
            </div>


        <!-- Right Cell -->
            <div class="col-md-3">
                <div class="container-fluid">
                    <div class="row">
                        {% include 'editor/module.filestystem.twig' %}
                    </div>
                    <div class="row">
                    {% include 'editor/module.dictonary.twig' %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}