{% extends 'base.main.html.twig' %}

{% set active_menu = 'editor' %}

{% block content %}
    <div class="container">
        <div class="row" >
            <!-- Left Main Cell -->
             <div class="col-md-5 no-float">
                {% include 'editor/module.info.twig' %}
             </div>

            <!-- Right Main Cell -->
            <div class="col-md-5 no-float">
                {% include 'editor/module.input.twig' %}
            </div>


            <!-- Right Cell -->
            <div class="col-md-2 no-float">
                    {% include 'editor/module.dictonary.twig' %}
            </div>

        </div>
    </div>

    {% include 'editor/dialogs.twig' %}

{% endblock %}