<script type="text/javascript">
    var page_dictonary_data = {{ dictonary_json |raw}};
</script>



<div class="container-fluid module-dictonary">
    <h4>Словарь</h4>
    <div class="row form-group">
        <label class="sr-only" for="dictonary_search_bar">Search</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="dictonary_search_bar" placeholder="Search">
            <span class="input-group-btn">
                <button id="btn-dict-add-word" class="form-control btn btn-default" type="button">Add</button>
            </span>
        </div>
    </div>
    <div class="row pre-scrollable" style="background-color: #FAFAFA;">
        <div class="panel-group" id="accordion_dictonary">
            {# UPDATE DYNAMICALY #}
        </div>

     </div>
    <div class="row">
        <input id="btn-dict-update" type="button" class="btn btn-primary" value="Update"/>
    </div>
</div>

{# OFFSCREEN CONTENT #}

{# TEMPLATE ELEMENT #}
<div class="panel panel-default hidden" id="dictonary_element_template">
    <div class="panel panel-default" id="acd_0_t">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="title-collapse-href" data-toggle="collapse" data-parent="#accordion_dictonary" href="#dict-collapse_0_t">
                    {key}</a>

                <a href="#" class="title-delete-href"
                   data-record-id="acd_0_t"
                   data-record-title="{key}"
                   data-href="#"
                   data-toggle="modal" data-target="#dialog-dict-confirm-delete"><i class="action-icon-delete glyphicon glyphicon-trash"></i></a>
            </h4>
        </div>
        <div id="dict-collapse_0_t" class="panel-collapse collapse">
            <div class="panel-body">
                <textarea rows="6" class="dict-value form-control noresize" id="wrd-{key}"></textarea>
            </div>
        </div>
    </div>
</div>
{# END TEMPLATE ELEMENT #}


