<div class="container-fluid module-rawtext">
    <label>Raw text </label>
    <div class="row" style="padding: 5px">
        <textarea name="rawtext" rows="7" class="form-control" style=" resize:none;min-width: 100%" >Text there</textarea>
    </div>
    <div class="row" style="padding: 5px">
        <input type="button" class="btn-primary" value="Update"/>
    </div>
</div>