<script type="text/javascript">
    var page_spinblock_data = {{ blocklist_json |raw}};
</script>


<div class="module-spinblock">
    <div class="head-row">
        <h4>Блоки спиннера</h4>
    </div>
    <div class="accordion-row">
        <div class="pre-scrollable">
            <div class="panel-group" id="spinblock-element-panel">
                {% include 'editor/block/block.newblock.twig' %}
            </div>
        </div>

    </div>
    <div class="button-row">
        <input type="button" id="button-template-save" class="btn btn-primary" value="Save"/>
        <input type="button" id="button-template-generate" class="btn btn-info" value="Generate"/>
    </div>
</div>


{# templates #}

{% include 'editor/block/block.database.twig' %}
{% include 'editor/block/block.statictext.twig' %}
{% include 'editor/block/block.spinsentence.twig' %}
