<div class="container-fluid">
    <label>Output</label>
    <div class="row" style="padding: 4px">
        <div id="outputTab" class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a  href="#201" data-toggle="tab">Generator</a>
                </li>
                <li><a href="#202" data-toggle="tab">Console</a>
                </li>
                <li><a href="#203" data-toggle="tab">Errors</a>
                </li>
            </ul>

            <div class="tab-content ">
                <div class="tab-pane active" id="201">
                    <textarea id="out-generator" rows="7" class="form-control" style="resize: none;min-width: 100%"></textarea>
                </div>
                <div class="tab-pane" id="202">
                    <textarea id="out-console" rows="7" class="form-control" style="resize: none; min-width: 100%"></textarea>
                </div>
                <div class="tab-pane" id="203">
                    <textarea id="out-Errors" rows="7" class="form-control" style="resize: none;min-width: 100%"></textarea>
                </div>

            </div>
        </div>
    </div>
</div>