<div class="input-group center-block container">
<form method="post" action="{{ path('app_demo_result') }}">
    <div class="row">
        <input type="text" style="width: 380px" placeholder="Название препарата"  name="drug_name" value="{{ drug_name }}"/>
    </div>
    <div class="row">
        <input type="number" style="width: 380px" placeholder="Id препарата (оставьте пустым если ввели название)" name="drug_id" value="{{ drug_id }}"/>
    </div>
    <div class="row" style="padding-top: 5px">
        <input type="submit" class="btn btn-primary btn-primary" value="Submit"/>
    </div>
</form>
</div>