{% extends 'base.main.html.twig' %}

{% set active_menu = 'demo' %}

{% block content %}

<div class="input-group center-block container">
<form method="post" action="{{ path('app_demo_result') }}">
    <div class="row">
        <input type="text" style="width: 380px" placeholder="Название препарата"  name="drug_name" value="{{ drug_name }}"/>
    </div>
    <div class="row">
        <input type="number" style="width: 380px" placeholder="Id препарата (оставьте пустым если ввели название)" name="drug_id" value="{{ drug_id }}"/>
    </div>
    <div class="row">
        <input type="submit" value="Submit"/>
    </div>
</form>
</div>

<div class="center-block container">
{{ result | raw }}
</div>

{% endblock %}