{% extends 'base.main.html.twig' %}

{% set active_menu = 'demo' %}

{% block content %}

{% include 'demo/form.html.twig' %}

<div class="container-fluid">
    <div class="row" style="padding-left: 15px; padding-right: 15px">
        <div class="col-md-12 no-float" style="padding-right: 3px">
{{ result | raw }}
        </div>
    </div>
</div>

{% endblock %}