{% extends 'base.main.html.twig' %}

{% set active_menu = 'demo' %}

{% block content %}

{% include 'demo/form.html.twig' %}

<div class="center-block container" style="padding-top: 20px">
{{ result | raw }}
</div>

{% endblock %}