  <input type="checkbox" id="userAgreement" class="userAgreement" />
  <div class="register-page--agreement">
    <label for="userAgreement" class="register-page--agreement--overlayer">
    </label>

    <label for="userAgreement" class="register-page--agreement--close">
      x
    </label>
    <div class="register-page--agreement--text">
      <h2>Terms of Use</h2>
      <p>Last updated: 14 March 2016</p>

      <h4>Introduction</h4>
      <p>Welcome to Ontourcloud. Please read carefully these Terms of Use. In case you have any questions or suggestions feel free to contact us at info@ontourcloud.com.
      Ontourcloud is a Trademark of Touring App, LLC.</p>
      <p>These Terms of Use ("The Terms") govern your access to and use of our website and mobile application (together referred as "The Service"). By signing up for Ontourcloud you are entering into a binding legal agreement with Touring app LLC and confirming that you have read, understood, and agree with all the provisions within the Terms of Use and the Privacy Policy. By using the Service, you signify your irrevocable acceptance of this Agreement. Your use of the Service is also subject to all applicable laws, rules and regulations. If you don’t agree with the Terms you shall not use the Service.</p>
      <p>In order to apply for getting a verified account within the Service you need to be 18 or older and have the power to enter a binding contract with us. By submitting a request for account verification and by saving changes made during updating/editing information within existing account you warrant that all the data provided to us by you is true, accurate and complete.</p>
      <p>Ontourcloud helps to build concert tours, not to sign the contracts. You should agree upon and sign all the contracts needed with relevant third parties on your own.</p>

      <h4>Changes</h4>
      <p>We reserve the right to update these Terms of Use from time to time. Any Terms of Use changes will be posted on this page. Please, review it periodically.</p>

      <h4>License to use the Service</h4>
      <p>Ontourcloud is an online tool that helps build concert tour routes. The Service is limited to a website and mobile application that allow you to access Ontourcloud account. The Service may contain information, text, photographs, videos, audio clips, comments (together "Content") generated on or provided through the Service. We grant you and each user of the Service limited non-exclusive, non-transferable, non-sublicensable, revocable license to use the Content for purposes of using the Service. Ontourcloud applications are licensed to you, not sold. Thus Ontourcloud retain ownership of all application copies installed or used on your devices. Use, reproduction, modification, distribution or storage of the Content for purposes other than that of using the Service is prohibited. You are prohibited to gather, copy or distribute any part of the Content for the purposes other than of tour building and event organizing. You may not sell or rent the Content. The Content may include but is not limited to User Content. Unauthorized use of the Content may result in violation of copyright, trademark, privacy or other laws and rights.</p>
      <p>Any enhancements, new tools or resources created and released within the current Service shall be subject to this Agreement. You shall not access the Service otherwise than through official interfaces provided by Ontourcloud. Ontourcloud reserves the right to add, modify or exclude features of the Service without prior notice to the Users.</p>
      <p>You are not granted any rights to use Ontourcloud trademarks, names, logos, domain names and other attributes associated with Ontourcloud without prior written consent.</p>

      <h4>Registration</h4>
      <p>1. A User shall register within the System and pass verification procedure to be granted access to the Service.<br/>
      2. During registration (filing an application to get an account) a User is required to enter full name and email address. Using a false name or the name of other Person, as well as creating duplicate accounts within the System is prohibited.<br/>
      3. All the information provided by users during registration shall be true, accurate and complete. <br/>
      4. A User can file an application to get an account within the system through the Ontourcloud website (ontourcloud.com) or through the Ontourcloud application. After applying for getting an account the User will receive an email with a link to confirm his/her email address. By confirming email address the User initiates verification process.<br/>
      5. Every User within the System is to pass verification procedure prior to be granted access to the Service. Within reasonable time the User will be sent an email with verification procedure results. If verification procedure is passed successfully the User will be granted access to the Service. The User may be asked to provide additional information to be verified within the System.<br/>
      Ontourcloud reserves the right to reject verification application and deny access to the Service to any User without assigning any reasons.<br/>
      6. The User shall keep his/her login and password confidential and not disclose access data to third parties. The User is fully responsible for all activities occurring under his/her Account.</p>

      <h4>Intellectual Property</h4>
      <p>1. All Content on the Website and within the app (except User and Partner Content), including, but not limited to text, graphics, logos, audio clips, data compilations, code and software as well as any element of the Service, is the property of Touring App, LLC. All the information and data of any type is protected by applicable copyright and other intellectual property laws. <br/>

      2. Users of the Service are able to upload and post Content within the System in their Professional profiles as well as on Artist/Agent/Promoter/Venue pages. By putting in or uploading any Content to the Service Users grant Ontourcloud worldwide perpetual license to use it for the purposes related to providing high-quality tour-building service and Ontourcloud marketing campaigns. Users acknowledge and confirm that the information provided by them for the Artist/Agent/Promoter/Venue profiles may be viewable by other Users of the Service.<br/>
      3. A User shall not upload, store, publish or distribute intellectual property of any Third Parties unless he/she has all necessary legal rights for the intellectual property.</p>

      <h4>Limitations and Prohibitions</h4>
      <p>By accepting these Terms you agree to use the Service solely as intended through the provided interfaces and functionality. You also confirm that you understand and agree that you are prohibited to:<br />
      a. copy, reproduce, distribute, publish, display or stream any part of the Service;<br />
      b. bypass, circumvent, damage or interfere in any other manner or way with security and any other features of the Service;<br />
      c. harvest or mine information available through the Service;<br />
      d. reverse engineer, reverse compile, disassemble, hack or otherwise reduce to human readable form any software associated with the Service;<br />
      e. access the Service, other User accounts and personally identifiable information without proper authorization;<br />
      f. post, transmit or otherwise make available any virus, worm, spyware or any other computer code, file or program that may or is intended to disable, overburden, impair, damage or hijack the operation of any hardware, software or telecommunications equipment, or any other aspect of the Service or communications equipment and devices connected to the Service;<br />
      g. perform any actions that may interfere with the Service and deactivate or disable networks or servers connected to the Service;<br />
      h. to violate these Terms of Use and applicable laws and regulations;<br />
      Violation of these restrictions may subject you to prosecution, as well as to liability for infringement of intellectual property rights.</p>

      <h4>Prohibited User Content</h4>
      <p>You agree not to misuse the Ontourcloud services. You acknowledge that you are prohibited to upload, share or transmit any Content in any form that:<br />
      a. is unlawful or promotes unlawful activities;<br />
      b. defames, harasses, abuses, threatens, or incites violence towards any individual or group;<br />
      c. is pornographic, discriminatory, or otherwise victimizes or intimidates an individual or group on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;<br />
      d. is spam, machine- or randomly-generated, constitutes unauthorized or unsolicited advertising, chain letters, any other form of unauthorized solicitation, or any form of lottery or gambling;<br />
      e. infringes on any proprietary right of any party, including patent, trademark, trade secret, copyright, right of publicity, or other rights;<br />
      f. impersonates any person or entity, including any of our employees or representatives;<br />
      g. violates the privacy of any third party.<br />
      Ontourcloud reserves the right to remove any User Content in its reasonable discretion and may terminate accounts of Users who violate the Terms.<br />
      ONTOURCLOUD DISCLAIMS ANY AND ALL LIABILITY FOR ANY TYPE OF INFORMATION USERS UPLOAD, SUBMIT, PUBLISH OR TRANSFER THROUGH THE WEBSITE AND THE APPLICATIONS.</p>

      <h4>Limitation of Liability</h4>
      <p>IN NO EVENT WILL ONTOURCLOUD BE LIABLE TO YOU OR ANYONE ELSE FOR ANY LOSS OR DAMAGES OF ANY KIND, INCLUDING, WITHOUT LIMITATION, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF OR INABILITY TO USE THE WEBSITE, THE APP, SERVICES, THE ONTOURCLOUD CONTENT AND USER CONTENT, EVEN IF SUCH LOSS OR DAMAGES COULD BE FORESEEABLE OR EVEN IF ONTOURCLOUD HAS BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH LOSS OR DAMAGES. THIS LIMITATIONS OF LIABILITY WILL APPLY TO THE FULLEST EXTENT PERMITTED BY THE LAW IN THE APPLICABLE JURISDICTION.</p>

      <h4>Indemnification</h4>
      <p>You agree to defend, indemnify, and hold us harmless from and against any third party claims, liabilities, damages, losses, and expenses resulting from, somehow connected with or arising out of:<br />
      (a) your access to or use of the Website, App, Services and Content;<br />
      (b) your violation of these Terms of Use;<br />
      (c) your violation of any third party rights, including without limitation any intellectual property rights or privacy rights.</p>

      <h4>Disclaimer of Warranty</h4>
      <p>The Service is provided "as is" and "as available". Ontourcloud expressly disclaims all warranties of any kind, express or implied, including without limitation any warranty of merchantability, fitness for a particular purpose, non-infringement or bailment of your data on Ontourcloud servers. You use the Service at your sole risk. Ontourcloud makes no warranty in regards to the results that may be obtained from the use of the Service and the security of the Service. Ontourcloud does not guarantee that the Service will meet any User's requirements. Ontourcloud does not guarantee accuracy, completeness or usefulness of the Service or any Content within the Service. You will be solely responsible for any loss or damage to you resulting from the use of the Service.</p>

      <h4>Jurisdiction</h4>
      <p>The courts of the Republic of Belarus have exclusive jurisdiction to adjudicate any dispute arising under or in connection with this Agreement.</p>

      <h4>Termination</h4>
      <p>If you violate these Terms of Use or otherwise create risk for or possibility of legal actions against Ontourcloud we may stop providing all or part of the Services to you.</p>

      <h4>Cancellation by User</h4>
      <p>If you want to cancel this agreement and delete your account from the System you must send us a written cancellation request to info@ontourcloud.com. The request will be reviewed within 14 business days. Limitation of Liability and Indemnification clauses of the Terms of Use will still apply to you after the cancellation of the Agreement.</p>
    </div>
  </div>