@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html,.container {
  height:100%;
}

body{
  padding-top: 55px;
  height: 100%;
}

.container {
  display:table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
}

.row .no-float {
  display: table-cell;
  float: none;
}


.head-row {
  border-bottom: 1px solid #9d9d9d;
  padding-left: 15px;
  padding-right: 15px;
}

.button-row {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}



.module-spinblock {
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  height: 721px;

  .action-icon-delete {
    float: right;
    color: black;
  }

  .element-control-row {

  }

  .element-content-row {

  }

  .pre-scrollable {
    max-height: 630px;
    height: 630px;
    overflow-y: scroll;
  }

  .accordion-data-row {
    padding-right: 5px;
    padding-left: 5px;
  }

  .active {
      a {
        color: white !important;
        &:visited {
          color: white !important;
        }
        &:hover {
          color: white !important;
        }
        &:focus {
          color: white !important;
        }
      }
  }

  .button-row {
    border-top: 1px solid #9d9d9d;
    padding-left: 5px;
  }

}


.module-info {
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  height: 721px;
  max-height: 721px;

  textarea {
    height: 584px !important;
    max-height: 584px !important;
  }


  .button-row {
    border-top: 1px solid #9d9d9d;
    padding-left: 5px;
  }
}

// Right Cell modules
.module-filesystem {
  border: 1px solid #9d9d9d;
  border-radius: 3px;

  height: 250px;
}

.module-dictonary {
  border: 1px solid #9d9d9d;
  border-radius: 3px;

  .action-icon-delete {
    float: right;
    color: black;
  }

  .accordion-data-row {
    padding-right: 5px;
    padding-left: 5px;
  }

  .pre-scrollable {
    max-height: 270px;
    height: 270px;
    overflow-y: scroll;
    textarea {
      resize:none;
    }
  }
}


.noresize {
  resize: none;
}

.panel-body {
  .row {
    padding: 5px;
  }
}








.btn-blue {
  background-color: #0000fe;
}

// dialog confirm loading

.modal.loading .modal-content:before {
  content: 'Processing...';
  text-align: center;
  line-height: 155px;
  font-size: 20px;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #EEE;
  z-index: 1000;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

// dialog progress bar

.progress-bar.animate {
  width: 100%;
}