<div class="module-template-content">
    <ul class="nav nav-tabs">
        <li class="active">
            <a id="a-tab-template" href="#tab-template" data-toggle="tab">Шаблон</a>
        </li>
        <li >
            <a  id="a-tab-generator" href="#tab-generator" data-toggle="tab">Генератор</a>
        </li>
        <li >
            <a  id="a-tab-ngmc" href="#tab-ngmc" data-toggle="tab">Ngram-MC</a>
        </li>
        <li >
            <a  id="a-tab-generated-texts" href="#tab-generated-texts" data-toggle="tab">Сгенерированные тексты</a>
        </li>
        <li >
            <a  id="a-tab-error" href="#tab-errors" data-toggle="tab">Ошибки</a>
        </li>
    </ul>
    <div class="tab-content ">
        <div class="tab-pane active form-group" id="tab-template" style="padding-top: 5px">
            <label for="input-template-name">Название шаблона</label>
            <input id="input-template-name" class="form-control" type="text">

            <label for="comment">Шаблон:</label>
            <textarea id="textarea-template-content" rows="17" class="form-control" style="resize: vertical;min-width: 100%"></textarea>

            <div class="button-row">
                <input id="input-template-id"     type="hidden" value="none" />
                <input id="button-template-save"   type="button" class="btn btn-default"  value="Сохранить шаблон"/>
                <input id="button-template-delete" type="button" class="btn btn-default"  value="Удалить шаблон"/>
            </div>
        </div>

        <div class="tab-pane" id="tab-generator" style="padding-top: 5px">
            <!--label for="input-template-count">Количество использований</label>
            <input id="input-template-count" class="form-control" readonly type="text"/-->

            <label for="input-template-drug-name">Название препарата:</label>
            <input id="input-template-drug-name" class="form-control" type="text"/>

            <label for="input-template-pregenerated-count">Колличество предгенерированных текстов:</label>
            <input id="input-template-pregenerated-count" class="form-control" type="number" value="50"/>

            <label for="input-template-deviation"><a href="https://en.wikipedia.org/wiki/Standard_deviation">Коэфициент</a> похожести текстов (чем больше число - тем ближе distance к 1, чем меньше тем distance ближе к 0):</label>
            <input id="input-template-deviation" class="form-control" type="number" value="100"/>

            <div>
                <input type="checkbox" name="input-template-use-stopwords" id="input-template-use-stopwords" checked="true"/>
                <label for="input-template-use-stopwords">Перед сравнением текстов удалять из них <a href="http://www.ranks.nl/stopwords">стоп-слова</a>.</label>
            </div>

            <div>
                <input type="checkbox" name="input-template-use-porter-stemmer" id="input-template-use-porter-stemmer" checked="true"/>
                <label for="input-template-use-porter-stemmer">Перед сравнением текстов применять к ним <a href="https://en.wikipedia.org/wiki/Stemming">стеммер Портера</a>.</label>
            </div>

            <label for="comment">Сгенерированный текст:</label>
            <textarea id="textarea-template-generator" rows="13" class="form-control" style="resize: vertical;min-width: 100%"></textarea>
            <div>
                <pre><code id="generate-distance-out"></code></pre>
            </div>
            <div class="button-row">
                <input id="button-template-generate" type="button" class="btn btn-default"  value="Сгенерировать текст"/>
                <input id="button-template-ngmc" type="button" class="btn btn-default"  value="Ngram MC"/>

                <input id="button-template-toggle-parenthesis" type="button" class="btn btn-success"  value="Hide (( ))"/>
                <input id="input-generated-raw" type="hidden"/>
                <input id="button-template-recalc-similarity" type="button" class="btn btn-default"  value="Пересчитать похожесть"/>
                <input id="button-template-plus" type="button" class="btn btn-default"  value="Сохранить текст"/>
            </div>
            <label for="generate_info_text">Дополнительная инфа по генерации:</label>
            <textarea id="generate_info_text" rows="5" readonly="true" class="form-control" style="resize: vertical;min-width: 100%"></textarea>
        </div>

        <div class="tab-pane" id="tab-generated-texts" style="padding-top: 5px">
            <label for="comment">Сгенерированные тексты:</label>
            <div id="generated-texts"></div>
        </div>


        <div class="tab-pane" id="tab-ngmc" style="padding-top: 5px">
            <div class="form-group">
                <label for="input-template-ngmc-framesize">Размер кортежа</label>
                <select id="input-template-ngmc-framesize" class="form-control" size="1" name="input-template-ngmc-framesize">
                    <option value="3">3</option>
                    <option value="4" selected>4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>

                </select>
                <label for="input-template-ngmc-peekprob">Пиковая вероятность замены слова</label>
                <select id="input-template-ngmc-peekprob" class="form-control" size="1" name="input-template-ngmc-peekprob">
                    <option value="1">100%</option>
                    <option value="0.9">90%</option>
                    <option value="0.8">80%</option>
                    <option value="0.7">70%</option>
                    <option value="0.6" selected>60%</option>
                    <option value="0.5">50%</option>
                    <option value="0.4">40%</option>
                </select>
                <label for="input-template-ngmc-mode">Режим работы</label>
                <select id="input-template-ngmc-mode" class="form-control" size="1" name="input-template-ngmc-mode">
                    <option value="insert">Вставка</option>
                    <option value="replace">Замена</option>
                </select>
            </div>
            <div class="row">
                <div style="width:48%; float: left; margin-left: 15px">
                    <label for="comment">Оригинал:</label>
                    <textarea id="textarea-ngmc-orig" rows="17" class="form-control" style="resize: vertical;min-width: 100%"></textarea>
                </div>
                <div style=" width:48%; float: right; margin-right:15px">
                    <label for="comment">Обработаный:</label>
                    <textarea id="textarea-ngmc-replaced" rows="17" class="form-control" style="resize: vertical;min-width: 100%"></textarea>
                </div>
            </div>
            <div class="button-row">
                <input id="button-template-generate-ngmc" type="button" class="btn btn-info"  value="Обработать"/>
                <input id="button-template-toggle-parenthesis_ngmc" type="button" class="btn btn-success"  value="Hide [[ ]]"/>
                <input id="button-template-save-ngmc" type="button" class="btn btn-disabled"  value="Сохранить текст"/>
            </div>
        </div>



        <div class="tab-errors tab-pane" id="tab-errors">
            <label for="generator-error-container">Ошибки:</label>
            <div id="generator-error-container" class="pre-scrollable">

            </div>
            <label for="textarea-error-console">Консоль:</label>
            <textarea id="textarea-error-console" rows="4" readonly class="form-control" style="resize: vertical;min-width: 100%"></textarea>
            <div class="button-row">
                <input type="button" id="button-error-reset" class="btn btn-danger"  value="Reset"/>
            </div>
        </div>
    </div>
</div>

