<div class="module-template-selector">
    <div class="data-row">
        <div class="form-group">
            <label for="select-template-name">Выбор шаблона:</label>
            <select id="select-template-name" class="form-control selectpicker">
            </select>
        </div>
    </div>
    <div class="button-row">
        <input type="button" id="button-template-new" class="btn btn-primary"  value="Создать новый шаблон"/>
    </div>
</div>

